body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #eee;
}

#page
{
	/*margin-top: 5px;*/
	margin-bottom: 5px;
	background: white;
	/*border: 1px solid #C9E0ED;*/
}

#header
{
	margin: 0;
	padding: 0;
	/*border-top: 3px solid #C9E0ED;*/
	border-bottom: 1px solid #ccc;
}

#header .right-menu {
    float:right;
    padding: 10px;
}

#header #logo {
    float:left;
}


#content
{
	padding: 20px;
}

#sidebar
{
	padding: 20px;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 0px;
	font-size: 20px;
  text-transform: uppercase;
  font-family: georgia,arial;
  font-weight:bold;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 0px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0;
	padding: 5px 8px;
	margin-bottom:15px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.post
{
	font-family: georgia,arial;
    margin: 0 14px;
}

.post .title
{
 	font-size: 20px;
	
  padding: 5px 0px;
}

.post .title a
{
	color: #555;
	text-decoration: none;
}

.post .content
{
 	font-size: 14px;
	line-height: 21px;
  padding: 5px 0px;
  min-height: 21px;
}

.post .author
{
	color: #888;
	margin: 0 0 5px;
}

.post .nav
{
	-moz-border-radius:7px;
	padding: 5px;
	background: #EFFDFF;
}

.comment
{
	-moz-border-radius:7px;
	padding: 10px;
	background: #F5F5F5;
	margin: 5px 0;
}

.comment .content
{
	margin: 10px 0;
}

.comment .author
{
	margin: 5px 0;
	padding: 0 0 3px;
	border-bottom: 1px solid #DDD;
}

.comment .time
{
	color: #888;
	font-size: 0.8em;
}

.comment a.cid
{
	color:#CCC;
	float:right;
	font-size:1.5em;
	font-weight:bold;
	padding:0 5px 5px 5px;
	text-decoration: none;
}

.comment a.cid:hover
{
	color:#555;
}

.comment .pending
{
	color:red;
}

#subcontent{
    font-family: georgia, arial;
    font-size:14px;
}

#subcontent .item_subcontent{
    padding:2px 0px;
    
}

#subcontent .item_subcontent .number{
padding-right: 10px;
font-size: 16px;
}

/* lihat catatan */
.row-list{
    margin-top:10px;
    font-family: georgia,arial;
    font-size: 14px;
}

.row-list .row{
    padding:5px 0px;
    border-bottom: 1px solid #fff; 
}

.row-list .row:hover{
    border-bottom:1px solid #eee;
}
.fiture-right{
    display: none;
}
.row-list .row:hover .fiture-right{
    display:block;
}

.row-list .row a{
    color:#191919;
    text-decoration: none;
    font-size: 20px;
}
.text-catatan textArea{
    widt:100%;
    outline: none;padding: 5px;border:1px solid #eee;width:100%;
    margin:5px 0px;
}
.form-subcontent{
    
}

.button {
    outline: none;
    background:#55acee!important;
    padding:5px;
    font-size: 11px;
    border-radius: 25px;
    color:#fff;
}

.editable-content{
    display:none;
    border:1px solid #ccc;
    background: #fff;
   
}
.content-area{
     padding:10px;
}
.toolbar-content{
    font-family: arial;
    background: #eee;
    border-top: 1px solid #ccc;
    
}
.box-button{
    border:1px solid #eee;
    background: #55acee;
    margin:1px;
    padding:10px;
    color:#fff;
    cursor:pointer;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus{
border:none;
outline:none;
}

.container{
    width:800px !important;
}


/** Button **/
.button-standard{
    box-shadow: none;
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    color:#333;
    border: 1px solid rgba(0,0,0,0.1)
}

.simple-button{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    margin-right: 16px;
    height: 27px;
    line-height: 27px;
    min-width: 54px;
    outline: 0px;
    padding: 0 8px;
}

.flat-standard{
    color:#191919;
    outline:none;
    border:none;
    border-bottom: 1px solid #eee;
    width:100%;
    font-size:16px;
    font-family: georgia, arial;
}
textarea.flat-standard{
    padding: 5px 0px;
}
.flat-standard.title{
        font-weight: bold;
}